@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.category-list {
  font-family: 'Open Sans', sans-serif;
}

.category-row {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin-right: 20px;
}
